<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/oleku"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.ProjectOle"
        tools:targetApi="31">
        <activity
            android:name=".IntroMain"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".fragments.HomeFragment"
            android:exported="false" />
        <activity
            android:name=".fragments.KeranjangFragment"
            android:exported="false" />
        <activity
            android:name=".fragments.ProfilFragment"
            android:exported="false"/>
        <activity
            android:name=".fragments.ProdukFragment"
            android:exported="false"/>
        <activity
            android:name=".fragments.NotifikasiFragment"
            android:exported="false" />
        <activity
            android:name=".fragments.DetailMinumanFragment"
            android:exported="false" />
        <activity
            android:name=".fragments.DetailMakananFragment"
            android:exported="false" />
        <activity
            android:name=".fragments.KeranjangMinumanFragment"
            android:exported="false" />
        <activity
            android:name=".fragments.MinumanFragment"
            android:exported="false" />
        <activity
            android:name=".PesanSkrgActivity"
            android:exported="false"/>
        <activity
            android:name=".PembayaranActivity"
            android:exported="false" />
        <activity
            android:name=".DaftarActivity"
            android:exported="false" />
        <activity
            android:name=".MasukActivity"
            android:exported="false" />
        <activity
            android:name=".LoginActivity"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="false">

        </activity>
    </application>

</manifest>